In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
#Reading customers dataset

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("CSVReader").getOrCreate()

df = spark.read.format("csv").option("header", True).option("delimiter", ",").load("/content/drive/MyDrive/Datasets/customers.csv")

df.show(5)

spark.stop()

+-----------+--------------+---------+-----+-------+
|Customer_Id|          Name|     City|State|Zipcode|
+-----------+--------------+---------+-----+-------+
|      11039|   Mary Torres|   Caguas|   PR|    725|
|       5623|    Jose Haley| Columbus|   OH|  43207|
|       5829|    Mary Smith|  Houston|   TX|  77015|
|       6336|Richard Maddox|   Caguas|   PR|    725|
|       1708|Margaret Booth|Arlington|   TX|  76010|
+-----------+--------------+---------+-----+-------+
only showing top 5 rows

In [4]:
#Reading sales transaction dataset

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("CSVReader").getOrCreate()

df = spark.read.format("csv").option("header", True).option("delimiter", ",").load("/content/drive/MyDrive/Datasets/salestxns.csv")

df.show(5)

spark.stop()

+------------+-----------+----------------+----------+--------------------+------+---+-----------+
|Sales_Txn_Id|Category_Id|   Category_Name|Product_Id|        Product_Name| Price|Qty|Customer_Id|
+------------+-----------+----------------+----------+--------------------+------+---+-----------+
|           1|         43|Camping & Hiking|       957|Diamondback Women...|299.98|  1|      11599|
|           2|         48|    Water Sports|      1073|Pelican Sunstream...|199.99|  1|        256|
|           3|         24| Women's Apparel|       502|Nike Men's Dri-FI...|    50|  5|        256|
|           4|         18|  Men's Footwear|       403|Nike Men's CJ Eli...|129.99|  1|        256|
|           5|         40|     Accessories|       897|Team Golf New Eng...| 24.99|  2|       8827|
+------------+-----------+----------------+----------+--------------------+------+---+-----------+
only showing top 5 rows

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,sum,avg
import pandas as pd

# Initialize Spark session
spark = SparkSession.builder.appName("CustomerSalesAggregation").getOrCreate()

# Load Customer Data
df = spark.read.format("csv").option("header", True).load("/content/drive/MyDrive/Datasets/customers.csv")

# Collect the relevant customer data into a Python list and broadcast it
broadcast_customer_data = spark.sparkContext.broadcast(
    df.select("Customer_Id", "Name").collect()
)

# Load Sales Transaction Data
sales_df = spark.read.format("csv").option("header", True).load("/content/drive/MyDrive/Datasets/salestxns.csv")

# Join Sales Transaction Data with Broadcasted Customer Data
joined_df = sales_df.join(
    spark.createDataFrame(broadcast_customer_data.value, schema=["Customer_Id", "Name"]),
    "Customer_Id"
)

# Perform Aggregations
aggregated_df = joined_df.groupBy("Customer_Id", "Name", "Product_Id", "Product_Name", "Price") \
    .agg(
        sum("Qty").alias("Total_Quantity"),
        sum(col("Qty") * col("Price")).alias("Total_Amount_Paid")
    )

# Display the Result
aggregated_df.show(truncate=False)

print('Top Customers by Total Amount Paid')
top_customers = aggregated_df.groupBy("Customer_Id", "Name").agg(sum("Total_Amount_Paid").alias("Total_Amount_Paid"))
top_customers = top_customers.orderBy(col("Total_Amount_Paid").desc())
top_customers.show()

print('Product Analysis')
product_sales = aggregated_df.groupBy("Product_Id", "Product_Name").agg(
    sum("Total_Quantity").alias("Total_Quantity"),
    sum("Total_Amount_Paid").alias("Total_Amount_Paid")
)
product_sales = product_sales.orderBy(col("Total_Quantity").desc())
product_sales.show()

print('Average Transaction Value')
avg_transaction_value = aggregated_df.groupBy("Customer_Id", "Name").agg(
    avg("Total_Amount_Paid").alias("Average_Transaction_Value")
)
avg_transaction_value = avg_transaction_value.orderBy(col("Average_Transaction_Value").desc())
avg_transaction_value.show()

# Stop Spark Session
spark.stop()

+-----------+----------------+----------+---------------------------------------------+------+--------------+------------------+
|Customer_Id|Name            |Product_Id|Product_Name                                 |Price |Total_Quantity|Total_Amount_Paid |
+-----------+----------------+----------+---------------------------------------------+------+--------------+------------------+
|9285       |Gloria Smith    |235       |Under Armour Hustle Storm Medium Duffle Bag  |34.99 |5.0           |174.95000000000002|
|8582       |Edward Smith    |403       |Nike Men's CJ Elite 2 TD Football Cleat      |129.99|1.0           |129.99            |
|9119       |Mary Smith      |1014      |O'Brien Men's Neoprene Life Vest             |49.98 |3.0           |149.94            |
|1598       |Mary Green      |403       |Nike Men's CJ Elite 2 TD Football Cleat      |129.99|4.0           |519.96            |
|10447      |Mary Smith      |502       |Nike Men's Dri-FIT Victory Golf Polo         |50    |27.0          |1350.0            |
|2420       |Mary Smith      |1004      |Field & Stream Sportsman 16 Gun Fire Safe    |399.98|3.0           |1199.94           |
|7544       |Barbara Smith   |677       |TaylorMade White Smoke IN-12 Putter          |99.99 |1.0           |99.99             |
|8757       |Tyler Gutierrez |627       |Under Armour Girls' Toddler Spine Surge Runni|39.99 |7.0           |279.93            |
|4539       |Jacqueline James|37        |adidas Kids' F5 Messi FG Soccer Cleat        |34.99 |1.0           |34.99             |
|5046       |Mary Smith      |1014      |O'Brien Men's Neoprene Life Vest             |49.98 |1.0           |49.98             |
|11526      |Dorothy Crawford|365       |Perfect Fitness Perfect Rip Deck             |59.99 |10.0          |599.9             |
|11845      |Mary Weaver     |1014      |O'Brien Men's Neoprene Life Vest             |49.98 |4.0           |199.92            |
|11385      |Mary Stewart    |1004      |Field & Stream Sportsman 16 Gun Fire Safe    |399.98|1.0           |399.98            |
|10233      |Mary Bennett    |957       |Diamondback Women's Serene Classic Comfort Bi|299.98|1.0           |299.98            |
|10224      |Betty Lawson    |957       |Diamondback Women's Serene Classic Comfort Bi|299.98|1.0           |299.98            |
|1518       |Jessica Smith   |191       |Nike Men's Free 5.0+ Running Shoe            |99.99 |14.0          |1399.86           |
|10924      |Steven Smith    |957       |Diamondback Women's Serene Classic Comfort Bi|299.98|1.0           |299.98            |
|12068      |Mary Smith      |957       |Diamondback Women's Serene Classic Comfort Bi|299.98|1.0           |299.98            |
|8408       |Patrick Smith   |1073      |Pelican Sunstream 100 Kayak                  |199.99|2.0           |399.98            |
|10508      |Angela Meadows  |502       |Nike Men's Dri-FIT Victory Golf Polo         |50    |10.0          |500.0             |
+-----------+----------------+----------+---------------------------------------------+------+--------------+------------------+
only showing top 20 rows

Top Customers by Total Amount Paid
+-----------+-----------------+------------------+
|Customer_Id|             Name| Total_Amount_Paid|
+-----------+-----------------+------------------+
|       9371|   Mary Patterson|           9299.03|
|        664|    Bobby Jimenez|           8394.26|
|      12431|        Mary Rios| 8073.149999999999|
|      10591| Deborah Humphrey| 7889.049999999999|
|       9271|Christopher Smith| 7665.250000000001|
|        749|   Jesse Matthews| 7649.379999999999|
|      10371|     Joseph Smith| 7518.129999999999|
|      11888|    Frank Barrett|7344.1399999999985|
|      10744|   Samantha Smith| 7284.400000000001|
|       5293|Michelle Callahan| 7209.100000000001|
|       9580|     Mary Robbins|           7109.17|
|       1780|      Larry Sharp|           7071.28|
|       6285|      Mary Garcia| 7017.970000000001|
|        467|      James Smith|            6992.3|
|       9490|       Mary Glass| 6984.239999999999|
|       7954|   Danielle Smith|6939.1900000000005|
|      10175|   Michael Gibson|           6799.16|
|       5001|       Ann Waller| 6769.469999999999|
|       4491|       Mary Banks|           6719.38|
|       4539| Jacqueline James| 6632.200000000001|
+-----------+-----------------+------------------+
only showing top 20 rows

Product Analysis
+----------+--------------------+--------------+------------------+
|Product_Id|        Product_Name|Total_Quantity| Total_Amount_Paid|
+----------+--------------------+--------------+------------------+
|       365|Perfect Fitness P...|        7474.0|448365.25999999925|
|       502|Nike Men's Dri-FI...|        6405.0|          320250.0|
|      1014|O'Brien Men's Neo...|        5899.0|294832.02000000054|
|       191|Nike Men's Free 5...|        3698.0|369763.01999999915|
|       627|Under Armour Girl...|        3057.0|122249.43000000008|
|       403|Nike Men's CJ Eli...|        2305.0| 299626.9499999993|
|      1004|Field & Stream Sp...|        1755.0| 701964.8999999944|
|      1073|Pelican Sunstream...|        1555.0|310984.44999999827|
|       957|Diamondback Women...|        1344.0|         403173.12|
|       565|adidas Youth Germ...|         129.0|            9030.0|
|       249|Under Armour Wome...|         120.0|6596.4000000000015|
|       276|Under Armour Wome...|         120.0| 3838.799999999998|
|       828|Bridgestone e6 St...|         114.0|3646.8599999999997|
|       771|Clicgear Rovic Co...|         114.0| 4558.859999999999|
|       116|Nike Men's Comfor...|         110.0| 4948.899999999999|
|       572|TYR Boys' Team Di...|         110.0| 4398.899999999998|
|       775|Clicgear 8.0 Shoe...|         110.0|1098.9000000000005|
|       926|Glove It Imperial...|         109.0|1742.9100000000005|
|       235|Under Armour Hust...|         107.0|3743.9299999999976|
|       282|Under Armour Wome...|         107.0| 3422.929999999999|
+----------+--------------------+--------------+------------------+
only showing top 20 rows

Average Transaction Value
+-----------+-----------------+-------------------------+
|Customer_Id|             Name|Average_Transaction_Value|
+-----------+-----------------+-------------------------+
|       4676|   Donna Randolph|        809.9350000000001|
|       8995|       Mary Smith|                    808.5|
|       1780|      Larry Sharp|        785.6977777777778|
|       9371|   Mary Patterson|        774.9191666666667|
|       7954|   Danielle Smith|        771.0211111111112|
|        664|    Bobby Jimenez|        763.1145454545455|
|      10175|   Michael Gibson|        755.4622222222222|
|      10447|       Mary Smith|        746.1925000000001|
|       8948|    Russell Smith|        718.4628571428572|
|       8522|       Mary Smith|        711.0466666666666|
|        562|       Mary Smith|                  699.965|
|       5952|      Jacob Smith|        699.9433333333334|
|       2773|       Linda Hale|        699.9300000000001|
|       3468|      Mary Romero|        698.4957142857144|
|       9490|       Mary Glass|        698.4239999999999|
|       9271|Christopher Smith|        696.8409090909091|
|        749|   Jesse Matthews|        695.3981818181818|
|      10926|       Mary Smith|                  681.918|
|      10761|      David Smith|        681.6122222222222|
|       1636|   Julie Petersen|        681.0255555555555|
+-----------+-----------------+-------------------------+
only showing top 20 rows